[Desktop Entry]
Name=Mask-Validator
Comment=validate refined mask
Exec=mask-validator
Icon=mask_validator.png
Terminal=false
Type=Application
Categories=Graphics;RasterGraphics;